.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Google Sans Regular";
  transition: transform 0.3s ease;
}

.software-skill-inline:hover {
  transform: translateY(-5px);
}

.software-skill-inline > i {
  color: #868e96;
  transition: color 0.3s ease;
}

.software-skill-inline > i:hover {
  color: #645beb;
}

.skill-image {
  height: 48px;
  transition: transform 0.3s ease;
}

.skill-image:hover {
  transform: scale(1.15);
}
